.logo{
    font-size: 34px;
    color: rgb(60, 60, 227);
    font: bold;
    margin-left: 150px;
    font-weight: 600;

}
.p0{
    font-size: 65px;
    font-weight: bold;
}
.btn{
    background-color: rgb(43, 43, 222);
    font-weight: 600;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn1{
    margin-right: 100px;
}
.jjk{
    text-align: center;
    margin-top: 158px;
}
.main1{
    background-image:url(Assets/Hero-bg.png) ;
}
.ud{
    display: flow-root;
    
}
.main2{
    display: flex;
}
.img1{
    margin-left: 100px;
    width: 403px;
    height: 328px;
}
.p1{
    font-size: 42px;
    font-weight: bold;
}
.p2{
    font-size: 24px;
    color: rgb(100, 98, 98);
}
.main2{
    margin-left: 150px;
    margin-top: 200px;
}
.p4{
    font-size: 42px;
    text-align: center;
    font-weight: 500;
}
.blu{
    font-size: 80px;
    color: blue;
}
.dwn{
    font-size: 20px;
    color: rgb(100, 98, 98);
    margin-top: -80px;
}
.sec{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.s11{
    margin-right: 65px;
}
.s22{
    margin-right: 65px;
}
.main3{
    margin-top: 200px;
    background-color: rgb(164, 172, 237);
}
.p223{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.main5{
    display: flex;
}
.p8{
    margin-left: 50px;
}
.p88{
    margin-left: 70px;
}
.p888{
    margin-left: 70px;
}
.main6{
    margin-top: 200px;
}